[user]
	email = eldonschoop@gmail.com
	name = Eldon Schoop
[core]
	editor = /usr/bin/vim
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[push]
	default = simple
	autoSetupRemote = true
[pull]
	rebase = false
